.TopBar {
    height: var(--top-bar-height);
    background: var(--site-theme-color);
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.SiteLogo {
    margin: 1rem;
    font-family: monospace;
    font-weight: bold;
}

.DevMark {
    background: var(--warning-color);
    padding: 0.5rem;
}


.SearchInput {
    min-width: 500px;
}
