.RepoCard {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.RepoCard h2 a {
    text-decoration: underline;
}

.RevisionCard {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
}

.FileRecordList {
    display: flex;
    flex-direction: column;
}

.FileRecordList a:hover {
    background: var(--site-theme-color-light);
}

.FileRecordCard {
    display: inline-flex;
    width: 100%;
    margin: 0.5rem 0;
}

.FileRecordCard .FilenameTag {
    flex-grow: 1;
    color: black;
    text-decoration: underline;
}

.FileRecordCard .HashTag {
    flex-grow: 0;
}

.FileRecordCard .SizeTag {
    width: 5rem;
    text-align: right;
    margin-right: 1rem;
}
