.RepoCard {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.RepoCard h2 a {
    text-decoration: underline;
}

.RevisionCard {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.FileRecordList {
    padding-left: 1rem;
}

.FileRecordCard {
    margin: 0.5rem 0;
}

.FileRecordCard a {
    color: black;
    text-decoration: underline;
}
